<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://aniharbor.local/app" version="1.3.2" viewmodes="maximized">
    <tizen:application id="AniHarbor1.AniHarbor" package="AniHarbor1" required_version="2.4"/>
    <tizen:profile name="tv-samsung"/>
    <name>AniHarbor</name>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <description>Anime browsing and playback through your home server.</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <!-- AVPlay does not require the old avplay privilege on 2015+ TV models. -->
    <!-- The server address is entered on the TV, so network origins vary by home. -->
    <access origin="*" subdomains="true"/>
    <tizen:content-security-policy>default-src 'self'; script-src 'self' file:; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob: http: https:; media-src 'self' blob: http: https:; connect-src 'self' http: https:; object-src 'self'; child-src blob:; worker-src blob:</tizen:content-security-policy>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
